:host {
  display: block;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  width: 100%;
  padding: 20px 20px;
  position: relative;
}

.title {
  color: #ffffff; /* White text color */
  font-size: 40px; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center; /* Center text horizontally */
  flex-grow: 1; /* Take up the remaining space */
}

.logo {
  height: 100px;
  margin-right: 50px;
}

router-outlet {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}
